.control-panel {
    flex: 1;
    background-color: #ffffff;
    border-radius: 1.5%;

    border: 1px solid #4cff76;
    height: 100%;

    transition: flex 0.3s ease, opacity 0.3s ease;
    padding: 1.2rem;

}

@media (max-aspect-ratio: 31/20) {
    .control-panel {
        flex: none;
        width: 100%;
        height: auto;
    }
}