.primary-button {
  padding: 0.6rem 1.2rem;
  background-color: #52528d;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.primary-button:hover {
  background-color: rgb(56, 56, 97);
}
