html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f0f0f0;
}

.board-container {
  position: relative;
  display: inline-flex;
  padding: 0.5em;

  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
}

.chessboard {
  display: flex;
  flex-direction: column;

  aspect-ratio: 1 / 1;
  width: min(82dvw, 82dvh, 550px);
  margin: auto;

  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.square {
  flex: 1;
  aspect-ratio: 1 / 1;
}

.square.light {
  background-color: #ebeaea;
}

.square.dark {
  background-color: #525274;
}

.number-labels {
    position: absolute;
    inset: 0 auto auto -2.0em;
    height: calc(100% - 1em);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 0.9em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;

    margin: 0.5em;
}

.number-label {
    height: 12.5%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter-labels {
    position: absolute;
    inset: auto auto -1em -0.5em;
    width: calc(100% + 1em);

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 0.9em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

.letter-label {
    height: 12.5%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}