html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.board-container {
  position: relative;
  display: inline-flex;
 
  width: min(82dvw, 82dvh, 550px);
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.chessboard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  height: 12.5%;
  width: 100%;
}

.square {
  flex: 1;
  width: 12.5%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.square.light {
  background-color: #ebeaea;
}

.square.dark {
  background-color: #525274;
}

.number-labels {
    position: absolute;
    inset: 0 auto auto -1.8em;
    height: calc(100% - 1em);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 0.9em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;

    margin: 0.5em;
}

.number-label {
    height: 12.5%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter-labels {
    position: absolute;
    inset: auto auto -1.6em 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 0.9em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

.letter-label {
    height: 12.5%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}